{"openapi":"3.1.0","info":{"title":"Public API","description":"Access to the API resources is secured. To interact with the endpoints, the client must be authenticated using an `API Key`. This key must be included in the request headers of every API call to successfully verify your identity and authorize access.\n\nAPI Key Authentication (System Flow): An API Key is very easy to use. Simply include your valid API key in the custom request header `x-api-key: <apiKeyValue>`. This method bypasses the login and token refresh requirements. To obtain an API key, log in to the portal and navigate to your profile page. \n\nSome endpoints contain `premium content` and require a paid plan or have different limits for free users. Depending on the plan, the user has different `monthly credits and rate limits`. For more information, see the [API pricing table](https://altfins.com/crypto-market-and-analytical-data-api/#pricing). ","version":"v2"},"servers":[{"url":"https://altfins.com"}],"paths":{"/api/v2/public/signals-feed/search-requests":{"post":{"tags":["Signals feed"],"summary":"Get Signals Feed Data","description":"This endpoint fetches a collection of the trading signals generated by the altfins platform within a specified time frame. It is designed to help users quickly spot new trade opportunities as they appear, eliminating the need to manually scan the entire market. The output can be filtered by specific assets, signal types, and signal direction (BULLISH/BEARISH) within a defined time range.","operationId":"getData","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","minimum":1}},{"name":"sort","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiSignalFeedFilterRequest"}}},"required":true},"responses":{"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request - Bean validation, business validation or parameter binding failed, validations field might by populated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageableResponseApiSignalFeed"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v2/public/screener-data/search-requests":{"post":{"tags":["Screener data"],"summary":"Get Screener Market Data","description":" Filter and discover crypto assets using the same powerful logic as the [altFINS platform screener](https://altfins.com/crypto-screener). \n\n            Retrieve a filtered list of assets based on custom criteria such as price performance, volume, market capitalization, or technical indicator values. ","operationId":"search","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","minimum":1}},{"name":"sort","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScreenerSearchRequest"}}},"required":true},"responses":{"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request - Bean validation, business validation or parameter binding failed, validations field might by populated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageableResponseScreenerSearchResult"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v2/public/ohlcv/snapshot-requests":{"post":{"tags":["OHLC"],"summary":"Get OHLC Data","description":"This endpoint retrieves current market data for specified symbols. Users can define specific symbols in the request body. If the symbols array is empty, the endpoint returns a snapshot for all available symbols. Data is returned based on the selected time interval. ","operationId":"getSnapshot","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OHLCVSnapshotRequest"}}},"required":true},"responses":{"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request - Bean validation, business validation or parameter binding failed, validations field might by populated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PublicOHLCVData"}}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v2/public/ohlcv/history-requests":{"post":{"tags":["OHLC"],"summary":"Get Historical Ohlc Data","description":" Retrieve historical OHLC time-series data for a specific asset within a defined date range and interval. ","operationId":"getHistory","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","minimum":1}},{"name":"sort","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OHLCVHistoryRequest"}}},"required":true},"responses":{"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request - Bean validation, business validation or parameter binding failed, validations field might by populated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageableResponsePublicOHLCVData"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v2/public/news-summary/search-requests":{"post":{"tags":["News summary"],"summary":"Get News Summary","description":"This endpoint allows you to query pre-processed summaries of market news articles from various sources. The returned data consists of condensed content where natural language processing has been applied to extract key information from long-form text. This allows users to quickly grasp market sentiment and identify major events without reading full articles.","operationId":"getSummaries","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","minimum":1}},{"name":"sort","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiNewsSummaryFilterRequest"}}},"required":true},"responses":{"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request - Bean validation, business validation or parameter binding failed, validations field might by populated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageableResponseApiNewsSummary"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v2/public/news-summary/find-summary":{"post":{"tags":["News summary"],"summary":"Find News Summary","description":"This endpoint allows you to fetch a single news summary. It requires a specific combination of MessageId and SourceId to return the requested record. This is typically used to display the full detail view of an item selected from the general news list.","operationId":"findSummary","parameters":[{"name":"MessageId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"SourceId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request - Bean validation, business validation or parameter binding failed, validations field might by populated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiNewsSummary"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v2/public/analytics/search-requests":{"post":{"tags":["Analytics"],"summary":"Get Historical Analytics Data","description":"Retrieves historical analytics data for a specific cryptocurrency symbol from the altFINS platform. ","operationId":"search_1","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","minimum":1}},{"name":"sort","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AltfinsAnalyticsHistorySearchRequest"}}},"required":true},"responses":{"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request - Bean validation, business validation or parameter binding failed, validations field might by populated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageableResponseAnalyticsHistoryData"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v2/public/technical-analysis/data":{"get":{"tags":["Technical Analysis"],"summary":"Get Technical Analysis","description":"Access curated, expert-led technical analysis covering 50+ major cryptocurrencies. \n\nThese are trade setups including:\n* Entry zones\n* Exit targets\n* Stop-loss levels\n* Clear technical reasoning\n* Designed for traders who want structured decision support, not noise. \n","operationId":"getData_1","parameters":[{"name":"symbol","in":"query","description":"Cryptocurrency symbol, default: empty (all data will be returned)","required":false,"example":"BTC","content":{"application/json":{"schema":{"type":"string"}}}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","minimum":1}},{"name":"sort","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request - Bean validation, business validation or parameter binding failed, validations field might by populated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageableResponseTechnicalAnalysisSummary"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v2/public/symbols":{"get":{"tags":["Common enums"],"summary":"Get Available Symbols.","description":"Returns all possible symbols (coin ids) used by other endpoints.","operationId":"getSymbols","responses":{"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request - Bean validation, business validation or parameter binding failed, validations field might by populated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AssetInfo"}}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v2/public/signals-feed/signal-keys":{"get":{"tags":["Signals feed"],"summary":"Get Signal Keys","description":"Returns a complete list of valid signal identifiers (keys). Use these keys to filter the output of the Get signals feed data endpoint.","operationId":"getSignalFilters","responses":{"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request - Bean validation, business validation or parameter binding failed, validations field might by populated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SignalLabelDTO"}}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v2/public/screener-data/value-types":{"get":{"tags":["Screener data"],"summary":"Get Screener Market Data Types","description":" Returns all available types of market data. [See more details](https://altfins.com/wp-content/uploads/2026/02/altFINS_API_Reference-1-1.pdf) ","operationId":"getValueTypes","responses":{"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request - Bean validation, business validation or parameter binding failed, validations field might by populated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ValueTypeDto"}}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v2/public/monthly-available-permits":{"get":{"tags":["Common enums"],"summary":"Get Monthly Available Permits.","description":"Return count of your currently available permits for current month for rate limiter.","operationId":"getMonthlyAvailablePermits","responses":{"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request - Bean validation, business validation or parameter binding failed, validations field might by populated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v2/public/intervals":{"get":{"tags":["Common enums"],"summary":"Get Available Time Intervals.","description":"Returns all possible time intervals used by other endpoints.","operationId":"getIntervals","responses":{"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request - Bean validation, business validation or parameter binding failed, validations field might by populated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string","description":"Interval id","example":"DAILY"}}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v2/public/available-permits":{"get":{"tags":["Common enums"],"summary":"Get Available Permits.","description":"Return count of your currently available permits for rate limiter.","operationId":"getAvailablePermits","responses":{"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request - Bean validation, business validation or parameter binding failed, validations field might by populated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v2/public/analytics/types":{"get":{"tags":["Analytics"],"summary":"Get Analytic Types","description":"Browse 150+ available analytical metrics before requesting data. [See more details](https://altfins.com/wp-content/uploads/2026/02/altFINS_API_Reference-1-1.pdf)","operationId":"getAnalyticTypes","responses":{"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request - Bean validation, business validation or parameter binding failed, validations field might by populated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsTypeDto"}}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v2/public/all-available-permits":{"get":{"tags":["Common enums"],"summary":"Get All Available Permits.","description":"Return count of your currently available permits of all types for rate limiter in single request.","operationId":"getAllAvailablePermits","responses":{"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request - Bean validation, business validation or parameter binding failed, validations field might by populated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermitsInfo"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v1/authenticate":{"post":{"tags":["Authentication"],"summary":"Authenticate and get jwt tokens","description":"Returns jwt access and refresh tokens.\nAccess token is used to access other API endpoints and has short expiration time.\nRefresh token is used to get a fresh pair of access and refresh tokens and has a long expiration duration.\nRefresh token can be used only once.","parameters":[{"name":"X-Authentication-Type","in":"header","description":"Authentication type","required":true,"schema":{"enum":["EM","FB","TW","GG","KC","GMFA","SMSMFA"]}},{"name":"X-Referral-Id","in":"header","required":false,"schema":{"format":"int32"}},{"name":"X-Referral-Type","in":"header","required":false,"schema":{"enum":["AFFILIATE","BOUNTY_COOKIE","BOUNTY"]}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JwtTokens"}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"BasicAuth":[]}]}}},"components":{"schemas":{"ErrorResponse":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"},"status":{"type":"integer","format":"int32"},"error":{"type":"string"},"message":{"type":"string"},"request":{"type":"string"},"exceptionUID":{"type":"string"},"details":{"type":"object"},"validations":{"type":"array","items":{"type":"object"}}}},"ApiSignalFeedFilterRequest":{"type":"object","properties":{"symbols":{"type":"array","description":"Chosen symbol names or empty if snapshot for all symbols should be loaded","example":["BTC","ETH"],"items":{"type":"string","description":"Chosen symbol names or empty if snapshot for all symbols should be loaded","example":"[\"BTC\",\"ETH\"]"}},"signals":{"type":"array","description":"Chosen signal keys or empty if all signals should be loaded","enum":["SIGNALS_SUMMARY_THREE_INSIDE_UP","SIGNALS_SUMMARY_EMA_100_200","SIGNALS_SUMMARY_RISING_WEDGE","SIGNALS_SUMMARY_EMERGING_PATTERNS","SIGNALS_SUMMARY_FUNDAMENTALS_MCAP_TR","SIGNALS_SUMMARY_TOP_LOSERS","SIGNALS_SUMMARY_HANGING_MAN","SIGNALS_SUMMARY_PIERCING_LINE","SIGNALS_SUMMARY_HEAD_AND_SHOULDERS","SIGNALS_SUMMARY_PRICE_EMA_100_200","SIGNALS_SUMMARY_SHORT_TERM_TREND_UPGRADE_DOWNGRADE","SIGNALS_SUMMARY_ENGULFING","SIGNALS_SUMMARY_BUTTERFLY","SIGNALS_SUMMARY_OVERSOLD_OVERBOUGHT_MOMENTUM","SIGNALS_SUMMARY_EVENING_STAR","SIGNALS_SUMMARY_INVERTED_HAMMER","SIGNALS_SUMMARY_RECTANGLE","SIGNALS_SUMMARY_OBV_TREND","SIGNALS_SUMMARY_EMA_50_200","SIGNALS_SUMMARY_RECENT_ATH","SIGNALS_SUMMARY_RECENT_ATH_NOT_OVERBOUGHT","SIGNALS_SUMMARY_DRIVE","SIGNALS_SUMMARY_TRIPLE_TOP","SIGNALS_SUMMARY_PENNANT","SIGNALS_SUMMARY_THREE_OUTSIDE_DOWN","SIGNALS_SUMMARY_FUNDAMENTALS_ANNUALIZED_TR_ABOVE","PULLBACK_UP_DOWN_TREND","SIGNALS_SUMMARY_FUNDAMENTALS_TVL_GROWTH","FRESH_MOMENTUM_MACD_SIGNAL_LINE_CROSSOVER","SIGNALS_SUMMARY_DRAGONFLY_DOJI","SIGNALS_SUMMARY_PRICE_EMA_12_26","SIGNALS_SUMMARY_SMA_20_30","SIGNALS_SUMMARY_EMA_9_12","SIGNALS_SUMMARY_EMA_26_50","SIGNALS_SUMMARY_TRADING_RANGE","SIGNALS_SUMMARY_HAMMER","SIGNALS_SUMMARY_PRICE_SMA_5_10","SIGNALS_SUMMARY_DOJI","SIGNALS_SUMMARY_HARAMI","SIGNALS_SUMMARY_FUNDAMENTALS_TR_GROWTH","SIGNALS_SUMMARY_TR_ATR_5x","EARLY_MOMENTUM_MACD_HISTOGRAM_INFLECTION","SIGNALS_SUMMARY_RVOL_SPIKE_IN_UPTREND_DOWNTREND","SIGNALS_SUMMARY_POINT_RETRACEMENT","SIGNALS_SUMMARY_HORIZONTAL_RESISTANCE","SIGNALS_SUMMARY_STOCH","SIGNALS_SUMMARY_FUNDAMENTALS_MCAP_TVL","SIGNALS_SUMMARY_BIG_MOVEMENT","SIGNALS_SUMMARY_PATTERN_BREAKOUTS","SIGNALS_SUMMARY_RSI_14","SIGNALS_SUMMARY_FALLING_WEDGE","SIGNALS_SUMMARY_NEW_LOCAL_HIGH_LOW_30_PERIODS","SIGNALS_SUMMARY_NEW_LOCAL_HIGH_LOW_10_PERIODS","SIGNALS_SUMMARY_DESCENDING_TRIANGLE","SIGNALS_SUMMARY_BOLLBAND_PRICE_UPPER_LOWER","SIGNALS_SUMMARY_TRADING_RANGE_V2","SIGNALS_SUMMARY_WITHIN_5_PERCENT_ATH_BULLISH_MACD_HISTO","SIGNALS_SUMMARY_ABANDONED_BABY","SIGNALS_SUMMARY_NEW_LOCAL_HIGH_LOW_50_PERIODS","SIGNALS_SUMMARY_SMA_50_200","SIGNALS_SUMMARY_OVERSOLD_OVERBOUGHT_UP_DOWN","SIGNALS_SUMMARY_STRONG_UP_DOWN_TREND","SIGNALS_SUMMARY_PRICE_SMA_100_200","SIGNALS_SUMMARY_PRICE_EMA_9_12","SIGNALS_SUMMARY_THREE_WHITE_SOLDIERS","SIGNALS_SUMMARY_EMA_50_100","SIGNALS_SUMMARY_MORNING_STAR","SIGNALS_SUMMARY_TRIANGLE","SIGNALS_SUMMARY_TR_ATR_2x","SIGNALS_SUMMARY_WILLIAMS","UP_DOWN_TREND","SIGNALS_SUMMARY_SMA_10_20","SIGNALS_SUMMARY_RSI_25","SIGNALS_SUMMARY_POINT_EXTENSION","SIGNALS_SUMMARY_WITHIN_5_PERCENT_ATH_NOT_OVERBOUGHT","SIGNALS_SUMMARY_SMA_5_10","SIGNALS_SUMMARY_EVENING_DOJI_STAR","SIGNALS_SUMMARY_TOP_GAINERS","UP_DOWN_TREND_AND_FRESH_MOMENTUM_INFLECTION","SIGNALS_SUMMARY_TR_ATR_1x","SIGNALS_SUMMARY_THREE_INSIDE_DOWN","SIGNALS_SUMMARY_FUNDAMENTALS_TVL_ABOVE","SIGNALS_SUMMARY_GRAVESTONE_DOJI","SIGNALS_SUMMARY_TWEEZER_TOP","SIGNALS_SUMMARY_CHANNEL_UP","PULLBACK_UP_DOWN_TREND_1W","SIGNALS_SUMMARY_TRIPLE_BOTTOM","SIGNALS_SUMMARY_GARTLEY","SIGNALS_SUMMARY_PATTERN_BREAKOUTS_UPTREND_DOWNTREND","SIGNALS_SUMMARY_PRICE_SMA_10_20","SIGNALS_SUMMARY_WITHIN_5_PERCENT_ATH_BULLISH_MACD_CROSS","SIGNALS_SUMMARY_DARK_CLOUD_COVER","SIGNALS_SUMMARY_PRICE_SMA_30_50","SIGNALS_SUMMARY_UNUSUAL_VOLUME_GAINERS_DECLINERS","SIGNALS_SUMMARY_EMA_12_26","SIGNALS_SUMMARY_VERY_OVERSOLD_OVERBOUGHT","SIGNALS_SUMMARY_NEW_LOCAL_HIGH_LOW_15_PERIODS","SIGNALS_SUMMARY_SMA_100_200","SIGNALS_SUMMARY_NEW_LOCAL_HIGH_LOW_5_PERIODS","SIGNALS_SUMMARY_TR_ATR_3x","SIGNALS_SUMMARY_INVERSE_HEAD_AND_SHOULDERS","EMA_12_50_CROSSOVERS","SIGNALS_SUMMARY_DRAGONFLY_DOJI_V2","SIGNALS_SUMMARY_MA_RIBBON","SIGNALS_SUMMARY_RECENT_ATH_PULLBACK_MACD_INFLECT","SIGNALS_SUMMARY_CHANNEL_DOWN","SIGNALS_SUMMARY_SMA_30_50","SIGNALS_SUMMARY_TWEEZER_BOTTOM","SIGNALS_SUMMARY_PRICE_EMA_50_100","SIGNALS_SUMMARY_FLAG","SIGNALS_SUMMARY_ABCD","SIGNALS_SUMMARY_STOCH_RSI","SIGNALS_SUMMARY_KICKER","SIGNALS_SUMMARY_HORIZONTAL_SUPPORT","SIGNALS_SUMMARY_MORNING_DOJI_STAR","SIGNALS_SUMMARY_TR_ATR_4x","SIGNALS_SUMMARY_GRAVESTONE_DOJI_V2","SIGNALS_SUMMARY_RSI_9","MOMENTUM_RSI_CONFIRMATION","SIGNALS_SUMMARY_DOUBLE_BOTTOM","SIGNALS_SUMMARY_DOUBLE_TOP","SIGNALS_SUMMARY_THREE_OUTSIDE_UP","SIGNALS_SUMMARY_NEW_LOCAL_HIGH_LOW_20_PERIODS","SIGNALS_SUMMARY_ASCENDING_TRIANGLE","SIGNALS_SUMMARY_THREE_BLACK_CROWS","SIGNALS_SUMMARY_CONSECUTIVE_CANDLES","SIGNALS_SUMMARY_RSI_DIVERGENCE","SIGNALS_SUMMARY_SHOOTING_STAR","SIGNALS_SUMMARY_SPINNING_TOP","MOMENTUM_UP_DOWN_TREND","SIGNALS_SUMMARY_WITHIN_5_PERCENT_ATH","SIGNALS_SUMMARY_THREE_LINE_STRIKE","SUPPORT_RESISTANCE_BREAKOUT","SUPPORT_RESISTANCE_APPROACHING","SUPPORT_RESISTANCE_APPROACHING_OVERSOLD"],"example":["SIGNALS_SUMMARY_CHANNEL_UP","SIGNALS_SUMMARY_SMA_50_200"],"items":{"type":"string","description":"Chosen signal keys or empty if all signals should be loaded","enum":["SIGNALS_SUMMARY_THREE_INSIDE_UP","SIGNALS_SUMMARY_EMA_100_200","SIGNALS_SUMMARY_RISING_WEDGE","SIGNALS_SUMMARY_EMERGING_PATTERNS","SIGNALS_SUMMARY_FUNDAMENTALS_MCAP_TR","SIGNALS_SUMMARY_TOP_LOSERS","SIGNALS_SUMMARY_HANGING_MAN","SIGNALS_SUMMARY_PIERCING_LINE","SIGNALS_SUMMARY_HEAD_AND_SHOULDERS","SIGNALS_SUMMARY_PRICE_EMA_100_200","SIGNALS_SUMMARY_SHORT_TERM_TREND_UPGRADE_DOWNGRADE","SIGNALS_SUMMARY_ENGULFING","SIGNALS_SUMMARY_BUTTERFLY","SIGNALS_SUMMARY_OVERSOLD_OVERBOUGHT_MOMENTUM","SIGNALS_SUMMARY_EVENING_STAR","SIGNALS_SUMMARY_INVERTED_HAMMER","SIGNALS_SUMMARY_RECTANGLE","SIGNALS_SUMMARY_OBV_TREND","SIGNALS_SUMMARY_EMA_50_200","SIGNALS_SUMMARY_RECENT_ATH","SIGNALS_SUMMARY_RECENT_ATH_NOT_OVERBOUGHT","SIGNALS_SUMMARY_DRIVE","SIGNALS_SUMMARY_TRIPLE_TOP","SIGNALS_SUMMARY_PENNANT","SIGNALS_SUMMARY_THREE_OUTSIDE_DOWN","SIGNALS_SUMMARY_FUNDAMENTALS_ANNUALIZED_TR_ABOVE","PULLBACK_UP_DOWN_TREND","SIGNALS_SUMMARY_FUNDAMENTALS_TVL_GROWTH","FRESH_MOMENTUM_MACD_SIGNAL_LINE_CROSSOVER","SIGNALS_SUMMARY_DRAGONFLY_DOJI","SIGNALS_SUMMARY_PRICE_EMA_12_26","SIGNALS_SUMMARY_SMA_20_30","SIGNALS_SUMMARY_EMA_9_12","SIGNALS_SUMMARY_EMA_26_50","SIGNALS_SUMMARY_TRADING_RANGE","SIGNALS_SUMMARY_HAMMER","SIGNALS_SUMMARY_PRICE_SMA_5_10","SIGNALS_SUMMARY_DOJI","SIGNALS_SUMMARY_HARAMI","SIGNALS_SUMMARY_FUNDAMENTALS_TR_GROWTH","SIGNALS_SUMMARY_TR_ATR_5x","EARLY_MOMENTUM_MACD_HISTOGRAM_INFLECTION","SIGNALS_SUMMARY_RVOL_SPIKE_IN_UPTREND_DOWNTREND","SIGNALS_SUMMARY_POINT_RETRACEMENT","SIGNALS_SUMMARY_HORIZONTAL_RESISTANCE","SIGNALS_SUMMARY_STOCH","SIGNALS_SUMMARY_FUNDAMENTALS_MCAP_TVL","SIGNALS_SUMMARY_BIG_MOVEMENT","SIGNALS_SUMMARY_PATTERN_BREAKOUTS","SIGNALS_SUMMARY_RSI_14","SIGNALS_SUMMARY_FALLING_WEDGE","SIGNALS_SUMMARY_NEW_LOCAL_HIGH_LOW_30_PERIODS","SIGNALS_SUMMARY_NEW_LOCAL_HIGH_LOW_10_PERIODS","SIGNALS_SUMMARY_DESCENDING_TRIANGLE","SIGNALS_SUMMARY_BOLLBAND_PRICE_UPPER_LOWER","SIGNALS_SUMMARY_TRADING_RANGE_V2","SIGNALS_SUMMARY_WITHIN_5_PERCENT_ATH_BULLISH_MACD_HISTO","SIGNALS_SUMMARY_ABANDONED_BABY","SIGNALS_SUMMARY_NEW_LOCAL_HIGH_LOW_50_PERIODS","SIGNALS_SUMMARY_SMA_50_200","SIGNALS_SUMMARY_OVERSOLD_OVERBOUGHT_UP_DOWN","SIGNALS_SUMMARY_STRONG_UP_DOWN_TREND","SIGNALS_SUMMARY_PRICE_SMA_100_200","SIGNALS_SUMMARY_PRICE_EMA_9_12","SIGNALS_SUMMARY_THREE_WHITE_SOLDIERS","SIGNALS_SUMMARY_EMA_50_100","SIGNALS_SUMMARY_MORNING_STAR","SIGNALS_SUMMARY_TRIANGLE","SIGNALS_SUMMARY_TR_ATR_2x","SIGNALS_SUMMARY_WILLIAMS","UP_DOWN_TREND","SIGNALS_SUMMARY_SMA_10_20","SIGNALS_SUMMARY_RSI_25","SIGNALS_SUMMARY_POINT_EXTENSION","SIGNALS_SUMMARY_WITHIN_5_PERCENT_ATH_NOT_OVERBOUGHT","SIGNALS_SUMMARY_SMA_5_10","SIGNALS_SUMMARY_EVENING_DOJI_STAR","SIGNALS_SUMMARY_TOP_GAINERS","UP_DOWN_TREND_AND_FRESH_MOMENTUM_INFLECTION","SIGNALS_SUMMARY_TR_ATR_1x","SIGNALS_SUMMARY_THREE_INSIDE_DOWN","SIGNALS_SUMMARY_FUNDAMENTALS_TVL_ABOVE","SIGNALS_SUMMARY_GRAVESTONE_DOJI","SIGNALS_SUMMARY_TWEEZER_TOP","SIGNALS_SUMMARY_CHANNEL_UP","PULLBACK_UP_DOWN_TREND_1W","SIGNALS_SUMMARY_TRIPLE_BOTTOM","SIGNALS_SUMMARY_GARTLEY","SIGNALS_SUMMARY_PATTERN_BREAKOUTS_UPTREND_DOWNTREND","SIGNALS_SUMMARY_PRICE_SMA_10_20","SIGNALS_SUMMARY_WITHIN_5_PERCENT_ATH_BULLISH_MACD_CROSS","SIGNALS_SUMMARY_DARK_CLOUD_COVER","SIGNALS_SUMMARY_PRICE_SMA_30_50","SIGNALS_SUMMARY_UNUSUAL_VOLUME_GAINERS_DECLINERS","SIGNALS_SUMMARY_EMA_12_26","SIGNALS_SUMMARY_VERY_OVERSOLD_OVERBOUGHT","SIGNALS_SUMMARY_NEW_LOCAL_HIGH_LOW_15_PERIODS","SIGNALS_SUMMARY_SMA_100_200","SIGNALS_SUMMARY_NEW_LOCAL_HIGH_LOW_5_PERIODS","SIGNALS_SUMMARY_TR_ATR_3x","SIGNALS_SUMMARY_INVERSE_HEAD_AND_SHOULDERS","EMA_12_50_CROSSOVERS","SIGNALS_SUMMARY_DRAGONFLY_DOJI_V2","SIGNALS_SUMMARY_MA_RIBBON","SIGNALS_SUMMARY_RECENT_ATH_PULLBACK_MACD_INFLECT","SIGNALS_SUMMARY_CHANNEL_DOWN","SIGNALS_SUMMARY_SMA_30_50","SIGNALS_SUMMARY_TWEEZER_BOTTOM","SIGNALS_SUMMARY_PRICE_EMA_50_100","SIGNALS_SUMMARY_FLAG","SIGNALS_SUMMARY_ABCD","SIGNALS_SUMMARY_STOCH_RSI","SIGNALS_SUMMARY_KICKER","SIGNALS_SUMMARY_HORIZONTAL_SUPPORT","SIGNALS_SUMMARY_MORNING_DOJI_STAR","SIGNALS_SUMMARY_TR_ATR_4x","SIGNALS_SUMMARY_GRAVESTONE_DOJI_V2","SIGNALS_SUMMARY_RSI_9","MOMENTUM_RSI_CONFIRMATION","SIGNALS_SUMMARY_DOUBLE_BOTTOM","SIGNALS_SUMMARY_DOUBLE_TOP","SIGNALS_SUMMARY_THREE_OUTSIDE_UP","SIGNALS_SUMMARY_NEW_LOCAL_HIGH_LOW_20_PERIODS","SIGNALS_SUMMARY_ASCENDING_TRIANGLE","SIGNALS_SUMMARY_THREE_BLACK_CROWS","SIGNALS_SUMMARY_CONSECUTIVE_CANDLES","SIGNALS_SUMMARY_RSI_DIVERGENCE","SIGNALS_SUMMARY_SHOOTING_STAR","SIGNALS_SUMMARY_SPINNING_TOP","MOMENTUM_UP_DOWN_TREND","SIGNALS_SUMMARY_WITHIN_5_PERCENT_ATH","SIGNALS_SUMMARY_THREE_LINE_STRIKE","SUPPORT_RESISTANCE_BREAKOUT","SUPPORT_RESISTANCE_APPROACHING","SUPPORT_RESISTANCE_APPROACHING_OVERSOLD"],"example":"[\"SIGNALS_SUMMARY_CHANNEL_UP\",\"SIGNALS_SUMMARY_SMA_50_200\"]"}},"signalDirection":{"type":"string","enum":["BULLISH","BEARISH"]},"fromDate":{"type":"string","format":"date-time","description":"Datetime ISO 8601","example":"2025-11-17T11:00:00Z"},"toDate":{"type":"string","format":"date-time","description":"Datetime ISO 8601","example":"2025-11-17T11:00:00Z"}}},"ApiSignalFeed":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"},"direction":{"type":"string"},"signalKey":{"type":"string"},"signalName":{"type":"string"},"symbol":{"type":"string"},"lastPrice":{"type":"string"},"marketCap":{"type":"string"},"priceChange":{"type":"string"},"symbolName":{"type":"string"}}},"OrderModel":{"type":"object","properties":{"direction":{"type":"string","enum":["ASC","DESC"]},"property":{"type":"string"},"ignoreCase":{"type":"boolean"},"nullHandling":{"type":"string","enum":["NATIVE","NULLS_FIRST","NULLS_LAST"]}}},"PageableResponseApiSignalFeed":{"type":"object","properties":{"size":{"type":"integer","format":"int32"},"number":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/OrderModel"}},"content":{"type":"array","items":{"$ref":"#/components/schemas/ApiSignalFeed"}},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}},"required":["content","first","last","number","numberOfElements","size","sort","totalElements","totalPages"]},"AnalyticsComparisonsFilter":{"type":"object","description":"You can include multiple filter objects in the request body to compare two analytics metrics against each other. Multiple filters use **AND** logic","example":[{"analyticsComparisonsFilterType":"EMA200_TREND_VS_SMA10_TREND","analyticsComparisonsFilterValue":"ABOVE"}],"properties":{"analyticsComparisonsFilterType":{"type":"string","description":"Filter type for comparing two analytics","enum":["LAST_PRICE_VS_HIGH,","LAST_PRICE_VS_LOW","LAST_PRICE_VS_SMA5","LAST_PRICE_VS_SMA10","LAST_PRICE_VS_SMA20","LAST_PRICE_VS_SMA30","LAST_PRICE_VS_SMA50","LAST_PRICE_VS_SMA100","LAST_PRICE_VS_SMA200","LAST_PRICE_VS_EMA9","LAST_PRICE_VS_EMA12","LAST_PRICE_VS_EMA13","LAST_PRICE_VS_EMA26","LAST_PRICE_VS_EMA50","LAST_PRICE_VS_EMA100","LAST_PRICE_VS_EMA200","LAST_PRICE_VS_BOLLINGER_BAND_LOWER","LAST_PRICE_VS_BOLLINGER_BAND_UPPER","LAST_PRICE_VS_VWMA20","LAST_PRICE_VS_HIGH_52W","LAST_PRICE_VS_LOW_52W","VOLUME_VS_VOLUME_AVG","SMA5_VS_LAST_PRICE","SMA5_VS_HIGH","SMA5_VS_LOW","SMA5_VS_SMA10","SMA5_VS_SMA20","SMA5_VS_SMA30","SMA5_VS_SMA50","SMA5_VS_SMA100","SMA5_VS_SMA200","SMA5_VS_EMA9","SMA5_VS_EMA12","SMA5_VS_EMA13","SMA5_VS_EMA26","SMA5_VS_EMA50","SMA5_VS_EMA100","SMA5_VS_EMA200","SMA5_VS_VWMA20","SMA5_VS_HIGH_52W","SMA5_VS_LOW_52W","SMA10_VS_LAST_PRICE","SMA10_VS_HIGH","SMA10_VS_LOW","SMA10_VS_SMA5","SMA10_VS_SMA20","SMA10_VS_SMA30","SMA10_VS_SMA50","SMA10_VS_SMA100","SMA10_VS_SMA200","SMA10_VS_EMA9","SMA10_VS_EMA12","SMA10_VS_EMA13","SMA10_VS_EMA26","SMA10_VS_EMA50","SMA10_VS_EMA100","SMA10_VS_EMA200","SMA10_VS_VWMA20","SMA10_VS_HIGH_52W","SMA10_VS_LOW_52W","SMA20_VS_LAST_PRICE","SMA20_VS_HIGH","SMA20_VS_LOW","SMA20_VS_SMA5","SMA20_VS_SMA10","SMA20_VS_SMA30","SMA20_VS_SMA50","SMA20_VS_SMA100","SMA20_VS_SMA200","SMA20_VS_EMA9","SMA20_VS_EMA12","SMA20_VS_EMA13","SMA20_VS_EMA26","SMA20_VS_EMA50","SMA20_VS_EMA100","SMA20_VS_EMA200","SMA20_VS_VWMA20","SMA20_VS_HIGH_52W","SMA20_VS_LOW_52W","SMA30_VS_LAST_PRICE","SMA30_VS_HIGH","SMA30_VS_LOW","SMA30_VS_SMA5","SMA30_VS_SMA10","SMA30_VS_SMA20","SMA30_VS_SMA50","SMA30_VS_SMA100","SMA30_VS_SMA200","SMA30_VS_EMA9","SMA30_VS_EMA12","SMA30_VS_EMA13","SMA30_VS_EMA26","SMA30_VS_EMA50","SMA30_VS_EMA100","SMA30_VS_EMA200","SMA30_VS_VWMA20","SMA30_VS_HIGH_52W","SMA30_VS_LOW_52W","SMA50_VS_LAST_PRICE","SMA50_VS_HIGH","SMA50_VS_LOW","SMA50_VS_SMA5","SMA50_VS_SMA10","SMA50_VS_SMA20","SMA50_VS_SMA30","SMA50_VS_SMA100","SMA50_VS_SMA200","SMA50_VS_EMA9","SMA50_VS_EMA12","SMA50_VS_EMA13","SMA50_VS_EMA26","SMA50_VS_EMA50","SMA50_VS_EMA100","SMA50_VS_EMA200","SMA50_VS_VWMA20","SMA50_VS_HIGH_52W","SMA50_VS_LOW_52W","SMA100_VS_LAST_PRICE","SMA100_VS_HIGH","SMA100_VS_LOW","SMA100_VS_SMA5","SMA100_VS_SMA10","SMA100_VS_SMA20","SMA100_VS_SMA30","SMA100_VS_SMA50","SMA100_VS_SMA200","SMA100_VS_EMA9","SMA100_VS_EMA12","SMA100_VS_EMA13","SMA100_VS_EMA26","SMA100_VS_EMA50","SMA100_VS_EMA100","SMA100_VS_EMA200","SMA100_VS_VWMA20","SMA100_VS_HIGH_52W","SMA100_VS_LOW_52W","SMA200_VS_LAST_PRICE","SMA200_VS_HIGH","SMA200_VS_LOW","SMA200_VS_SMA5","SMA200_VS_SMA10","SMA200_VS_SMA20","SMA200_VS_SMA30","SMA200_VS_SMA50","SMA200_VS_SMA100","SMA200_VS_EMA9","SMA200_VS_EMA12","SMA200_VS_EMA13","SMA200_VS_EMA26","SMA200_VS_EMA50","SMA200_VS_EMA100","SMA200_VS_EMA200","SMA200_VS_VWMA20","SMA200_VS_HIGH_52W","SMA200_VS_LOW_52W","EMA9_VS_LAST_PRICE","EMA9_VS_HIGH","EMA9_VS_LOW","EMA9_VS_SMA5","EMA9_VS_SMA10","EMA9_VS_SMA20","EMA9_VS_SMA30","EMA9_VS_SMA50","EMA9_VS_SMA100","EMA9_VS_SMA200","EMA9_VS_EMA12","EMA9_VS_EMA13","EMA9_VS_EMA26","EMA9_VS_EMA50","EMA9_VS_EMA100","EMA9_VS_EMA200","EMA9_VS_VWMA20","EMA9_VS_HIGH_52W","EMA9_VS_LOW_52W","EMA12_VS_LAST_PRICE","EMA12_VS_HIGH","EMA12_VS_LOW","EMA12_VS_SMA5","EMA12_VS_SMA10","EMA12_VS_SMA20","EMA12_VS_SMA30","EMA12_VS_SMA50","EMA12_VS_SMA100","EMA12_VS_SMA200","EMA12_VS_EMA9","EMA12_VS_EMA13","EMA12_VS_EMA26","EMA12_VS_EMA50","EMA12_VS_EMA100","EMA12_VS_EMA200","EMA12_VS_VWMA20","EMA12_VS_HIGH_52W","EMA12_VS_LOW_52W","EMA13_VS_LAST_PRICE","EMA13_VS_HIGH","EMA13_VS_LOW","EMA13_VS_SMA5","EMA13_VS_SMA10","EMA13_VS_SMA20","EMA13_VS_SMA30","EMA13_VS_SMA50","EMA13_VS_SMA100","EMA13_VS_SMA200","EMA13_VS_EMA9","EMA13_VS_EMA12","EMA13_VS_EMA26","EMA13_VS_EMA50","EMA13_VS_EMA100","EMA13_VS_EMA200","EMA13_VS_VWMA20","EMA13_VS_HIGH_52W","EMA13_VS_LOW_52W","EMA26_VS_LAST_PRICE","EMA26_VS_HIGH","EMA26_VS_LOW","EMA26_VS_SMA5","EMA26_VS_SMA10","EMA26_VS_SMA20","EMA26_VS_SMA30","EMA26_VS_SMA50","EMA26_VS_SMA100","EMA26_VS_SMA200","EMA26_VS_EMA9","EMA26_VS_EMA12","EMA26_VS_EMA13","EMA26_VS_EMA50","EMA26_VS_EMA100","EMA26_VS_EMA200","EMA26_VS_VWMA20","EMA26_VS_HIGH_52W","EMA26_VS_LOW_52W","EMA50_VS_LAST_PRICE","EMA50_VS_HIGH","EMA50_VS_LOW","EMA50_VS_SMA5","EMA50_VS_SMA10","EMA50_VS_SMA20","EMA50_VS_SMA30","EMA50_VS_SMA50","EMA50_VS_SMA100","EMA50_VS_SMA200","EMA50_VS_EMA9","EMA50_VS_EMA12","EMA50_VS_EMA13","EMA50_VS_EMA26","EMA50_VS_EMA100","EMA50_VS_EMA200","EMA50_VS_VWMA20","EMA50_VS_HIGH_52W","EMA50_VS_LOW_52W","EMA100_VS_LAST_PRICE","EMA100_VS_HIGH","EMA100_VS_LOW","EMA100_VS_SMA5","EMA100_VS_SMA10","EMA100_VS_SMA20","EMA100_VS_SMA30","EMA100_VS_SMA50","EMA100_VS_SMA100","EMA100_VS_SMA200","EMA100_VS_EMA9","EMA100_VS_EMA12","EMA100_VS_EMA13","EMA100_VS_EMA26","EMA100_VS_EMA50","EMA100_VS_EMA200","EMA100_VS_VWMA20","EMA100_VS_HIGH_52W","EMA100_VS_LOW_52W","EMA200_VS_LAST_PRICE","EMA200_VS_HIGH","EMA200_VS_LOW","EMA200_VS_SMA5","EMA200_VS_SMA10","EMA200_VS_SMA20","EMA200_VS_SMA30","EMA200_VS_SMA50","EMA200_VS_SMA100","EMA200_VS_SMA200","EMA200_VS_EMA9","EMA200_VS_EMA12","EMA200_VS_EMA13","EMA200_VS_EMA26","EMA200_VS_EMA50","EMA200_VS_EMA100","EMA200_VS_VWMA20","EMA200_VS_HIGH_52W","EMA200_VS_LOW_52W","SMA5_TREND_VS_SMA10_TREND","SMA5_TREND_VS_SMA20_TREND","SMA5_TREND_VS_SMA30_TREND","SMA5_TREND_VS_SMA50_TREND","SMA5_TREND_VS_SMA100_TREND","SMA5_TREND_VS_SMA200_TREND","SMA5_TREND_VS_EMA9_TREND","SMA5_TREND_VS_EMA12_TREND","SMA5_TREND_VS_EMA26_TREND","SMA5_TREND_VS_EMA50_TREND","SMA5_TREND_VS_EMA100_TREND","SMA5_TREND_VS_EMA200_TREND","SMA10_TREND_VS_SMA5_TREND","SMA10_TREND_VS_SMA20_TREND","SMA10_TREND_VS_SMA30_TREND","SMA10_TREND_VS_SMA50_TREND","SMA10_TREND_VS_SMA100_TREND","SMA10_TREND_VS_SMA200_TREND","SMA10_TREND_VS_EMA9_TREND","SMA10_TREND_VS_EMA12_TREND","SMA10_TREND_VS_EMA26_TREND","SMA10_TREND_VS_EMA50_TREND","SMA10_TREND_VS_EMA100_TREND","SMA10_TREND_VS_EMA200_TREND","SMA20_TREND_VS_SMA5_TREND","SMA20_TREND_VS_SMA10_TREND","SMA20_TREND_VS_SMA30_TREND","SMA20_TREND_VS_SMA50_TREND","SMA20_TREND_VS_SMA100_TREND","SMA20_TREND_VS_SMA200_TREND","SMA20_TREND_VS_EMA9_TREND","SMA20_TREND_VS_EMA12_TREND","SMA20_TREND_VS_EMA26_TREND","SMA20_TREND_VS_EMA50_TREND","SMA20_TREND_VS_EMA100_TREND","SMA20_TREND_VS_EMA200_TREND","SMA30_TREND_VS_SMA5_TREND","SMA30_TREND_VS_SMA10_TREND","SMA30_TREND_VS_SMA20_TREND","SMA30_TREND_VS_SMA50_TREND","SMA30_TREND_VS_SMA100_TREND","SMA30_TREND_VS_SMA200_TREND","SMA30_TREND_VS_EMA9_TREND","SMA30_TREND_VS_EMA12_TREND","SMA30_TREND_VS_EMA26_TREND","SMA30_TREND_VS_EMA50_TREND","SMA30_TREND_VS_EMA100_TREND","SMA30_TREND_VS_EMA200_TREND","SMA50_TREND_VS_SMA5_TREND","SMA50_TREND_VS_SMA10_TREND","SMA50_TREND_VS_SMA20_TREND","SMA50_TREND_VS_SMA30_TREND","SMA50_TREND_VS_SMA100_TREND","SMA50_TREND_VS_SMA200_TREND","SMA50_TREND_VS_EMA9_TREND","SMA50_TREND_VS_EMA12_TREND","SMA50_TREND_VS_EMA26_TREND","SMA50_TREND_VS_EMA50_TREND","SMA50_TREND_VS_EMA100_TREND","SMA50_TREND_VS_EMA200_TREND","SMA100_TREND_VS_SMA5_TREND","SMA100_TREND_VS_SMA10_TREND","SMA100_TREND_VS_SMA20_TREND","SMA100_TREND_VS_SMA30_TREND","SMA100_TREND_VS_SMA50_TREND","SMA100_TREND_VS_SMA200_TREND","SMA100_TREND_VS_EMA9_TREND","SMA100_TREND_VS_EMA12_TREND","SMA100_TREND_VS_EMA26_TREND","SMA100_TREND_VS_EMA50_TREND","SMA100_TREND_VS_EMA100_TREND","SMA100_TREND_VS_EMA200_TREND","SMA200_TREND_VS_SMA5_TREND","SMA200_TREND_VS_SMA10_TREND","SMA200_TREND_VS_SMA20_TREND","SMA200_TREND_VS_SMA30_TREND","SMA200_TREND_VS_SMA50_TREND","SMA200_TREND_VS_SMA100_TREND","SMA200_TREND_VS_EMA9_TREND","SMA200_TREND_VS_EMA12_TREND","SMA200_TREND_VS_EMA26_TREND","SMA200_TREND_VS_EMA50_TREND","SMA200_TREND_VS_EMA100_TREND","SMA200_TREND_VS_EMA200_TREND","EMA9_TREND_VS_SMA5_TREND","EMA9_TREND_VS_SMA10_TREND","EMA9_TREND_VS_SMA20_TREND","EMA9_TREND_VS_SMA30_TREND","EMA9_TREND_VS_SMA50_TREND","EMA9_TREND_VS_SMA100_TREND","EMA9_TREND_VS_SMA200_TREND","EMA9_TREND_VS_EMA12_TREND","EMA9_TREND_VS_EMA26_TREND","EMA9_TREND_VS_EMA50_TREND","EMA9_TREND_VS_EMA100_TREND","EMA9_TREND_VS_EMA200_TREND","EMA12_TREND_VS_SMA5_TREND","EMA12_TREND_VS_SMA10_TREND","EMA12_TREND_VS_SMA20_TREND","EMA12_TREND_VS_SMA30_TREND","EMA12_TREND_VS_SMA50_TREND","EMA12_TREND_VS_SMA100_TREND","EMA12_TREND_VS_SMA200_TREND","EMA12_TREND_VS_EMA9_TREND","EMA12_TREND_VS_EMA26_TREND","EMA12_TREND_VS_EMA50_TREND","EMA12_TREND_VS_EMA100_TREND","EMA12_TREND_VS_EMA200_TREND","EMA13_TREND_VS_SMA5_TREND","EMA13_TREND_VS_SMA10_TREND","EMA13_TREND_VS_SMA20_TREND","EMA13_TREND_VS_SMA30_TREND","EMA13_TREND_VS_SMA50_TREND","EMA13_TREND_VS_SMA100_TREND","EMA13_TREND_VS_SMA200_TREND","EMA13_TREND_VS_EMA9_TREND","EMA13_TREND_VS_EMA26_TREND","EMA13_TREND_VS_EMA50_TREND","EMA13_TREND_VS_EMA100_TREND","EMA13_TREND_VS_EMA200_TREND","EMA26_TREND_VS_SMA5_TREND","EMA26_TREND_VS_SMA10_TREND","EMA26_TREND_VS_SMA20_TREND","EMA26_TREND_VS_SMA30_TREND","EMA26_TREND_VS_SMA50_TREND","EMA26_TREND_VS_SMA100_TREND","EMA26_TREND_VS_SMA200_TREND","EMA26_TREND_VS_EMA9_TREND","EMA26_TREND_VS_EMA12_TREND","EMA26_TREND_VS_EMA50_TREND","EMA26_TREND_VS_EMA100_TREND","EMA26_TREND_VS_EMA200_TREND","EMA50_TREND_VS_SMA5_TREND","EMA50_TREND_VS_SMA10_TREND","EMA50_TREND_VS_SMA20_TREND","EMA50_TREND_VS_SMA30_TREND","EMA50_TREND_VS_SMA50_TREND","EMA50_TREND_VS_SMA100_TREND","EMA50_TREND_VS_SMA200_TREND","EMA50_TREND_VS_EMA9_TREND","EMA50_TREND_VS_EMA12_TREND","EMA50_TREND_VS_EMA26_TREND","EMA50_TREND_VS_EMA100_TREND","EMA50_TREND_VS_EMA200_TREND","EMA100_TREND_VS_SMA5_TREND","EMA100_TREND_VS_SMA10_TREND","EMA100_TREND_VS_SMA20_TREND","EMA100_TREND_VS_SMA30_TREND","EMA100_TREND_VS_SMA50_TREND","EMA100_TREND_VS_SMA100_TREND","EMA100_TREND_VS_SMA200_TREND","EMA100_TREND_VS_EMA9_TREND","EMA100_TREND_VS_EMA12_TREND","EMA100_TREND_VS_EMA26_TREND","EMA100_TREND_VS_EMA50_TREND","EMA100_TREND_VS_EMA200_TREND","EMA200_TREND_VS_SMA5_TREND","EMA200_TREND_VS_SMA10_TREND","EMA200_TREND_VS_SMA20_TREND","EMA200_TREND_VS_SMA30_TREND","EMA200_TREND_VS_SMA50_TREND","EMA200_TREND_VS_SMA100_TREND","EMA200_TREND_VS_SMA200_TREND","EMA200_TREND_VS_EMA9_TREND","EMA200_TREND_VS_EMA12_TREND","EMA200_TREND_VS_EMA26_TREND","EMA200_TREND_VS_EMA50_TREND","EMA200_TREND_VS_EMA100_TREND"],"example":"LAST_PRICE_VS_SMA5"},"analyticsComparisonsFilterValue":{"type":"string","description":"Comparison operator.","enum":["ABOVE","BELOW"],"example":"ABOVE"}}},"CandlestickPatternFilter":{"type":"object","description":"You can include multiple candlestick pattern filter objects in the request body. Multiple filters use **AND** logic","example":[{"candlestickPatternFilterType":"CD_PERFECT_GRAVESTONE_DOJI","candlestickLookBackIntervals":1}],"properties":{"candlestickPatternFilterType":{"type":"string","description":"Type of candlestic pattern to filter","enum":["CD_HAMMER","CD_INVERTED_HAMMER","CD_DRAGONFLY_DOJI","CD_PERFECT_DRAGONFLY_DOJI","CD_BULLISH_SPINNING_TOP","CD_HANGING_MAN","CD_SHOOTING_STAR","CD_GRAVESTONE_DOJI","CD_PERFECT_GRAVESTONE_DOJI","CD_BEARISH_SPINNING_TOP","CD_BULLISH_KICKER","CD_BULLISH_ENGULFING","CD_BULLISH_HARAMI","CD_PIERCING_LINE","CD_TWEEZER_BOTTOM","CD_BEARISH_KICKER","CD_BEARISH_ENGULFING","CD_BEARISH_HARAMI","CD_DARK_CLOUD_COVER","CD_TWEEZER_TOP","CD_MORNING_STAR","CD_MORNING_DOJI_STAR","CD_BULLISH_ABANDONED_BABY","CD_THREE_WHITE_SOLDIERS","CD_THREE_LINE_STRIKE_BULLISH","CD_THREE_INSIDE_UP","CD_THREE_OUTSIDE_UP","CD_EVENING_STAR","CD_EVENING_DOJI_STAR","CD_BEARISH_ABANDONED_BABY","CD_THREE_BLACK_CROWS","CD_THREE_LINE_STRIKE_BEARISH","CD_THREE_INSIDE_DOWN","CD_THREE_OUTSIDE_DOWN","CD_DOJI"],"example":"CD_EVENING_DOJI_STAR"},"candlestickLookBackIntervals":{"type":"string","description":"Filter the results by type of coin. Only coins matching the specified type will be returned.","enum":["1","2","3","4","5"],"example":4}},"required":["candlestickLookBackIntervals"]},"CrossAnalyticFilter":{"type":"object","description":"You can include multiple cross analytic filter objects in the request body. Multiple filters use **AND** logic","example":[{"crossAnalyticFilterType":"X_LAST_PRICE_CROSS_SMA5","crossAnalyticFilterValue":"BELOW","crossLookBackIntervals":1}],"properties":{"crossAnalyticFilterType":{"type":"string","description":"Type of cross analytic to filter","enum":["X_LAST_PRICE_CROSS_SMA5","X_LAST_PRICE_CROSS_SMA10","X_LAST_PRICE_CROSS_SMA20","X_LAST_PRICE_CROSS_SMA30","X_LAST_PRICE_CROSS_SMA50","X_LAST_PRICE_CROSS_SMA200","X_SMA5_CROSS_SMA10","X_SMA5_CROSS_SMA20","X_SMA5_CROSS_SMA30","X_SMA5_CROSS_SMA50","X_SMA5_CROSS_SMA100","X_SMA5_CROSS_SMA200","X_SMA10_CROSS_SMA20","X_SMA10_CROSS_SMA30","X_SMA10_CROSS_SMA50","X_SMA10_CROSS_SMA100","X_SMA10_CROSS_SMA200","X_SMA20_CROSS_SMA30","X_SMA20_CROSS_SMA50","X_SMA20_CROSS_SMA100","X_SMA20_CROSS_SMA200","X_SMA30_CROSS_SMA50","X_SMA30_CROSS_SMA100","X_SMA30_CROSS_SMA200","X_SMA50_CROSS_SMA100","X_SMA50_CROSS_SMA200","X_SMA100_CROSS_SMA200","X_LAST_PRICE_CROSS_EMA9","X_LAST_PRICE_CROSS_EMA12","X_LAST_PRICE_CROSS_EMA26","X_LAST_PRICE_CROSS_EMA50","X_LAST_PRICE_CROSS_EMA100","X_LAST_PRICE_CROSS_EMA200","X_EMA9_CROSS_EMA12","X_EMA9_CROSS_EMA26","X_EMA9_CROSS_EMA50","X_EMA9_CROSS_EMA100","X_EMA9_CROSS_EMA200","X_EMA12_CROSS_EMA26","X_EMA12_CROSS_EMA50","X_EMA12_CROSS_EMA100","X_EMA12_CROSS_EMA200","X_EMA26_CROSS_EMA50","X_EMA26_CROSS_EMA100","X_EMA26_CROSS_EMA200","X_EMA50_CROSS_EMA100","X_EMA50_CROSS_EMA200","X_EMA100_CROSS_EMA200","X_LAST_PRICE_CROSS_BOLLINGER_BAND_UPPER","X_LAST_PRICE_CROSS_BOLLINGER_BAND_LOWER","X_RSI9_CROSS_30","X_RSI14_CROSS_30","X_RSI25_CROSS_30","X_RSI9_CROSS_50","X_RSI14_CROSS_50","X_RSI25_CROSS_50","X_RSI9_CROSS_70","X_RSI14_CROSS_70","X_RSI25_CROSS_70","X_STOCH_CROSS_20","X_STOCH_CROSS_80","X_STOCH_RSI_CROSS_20","X_STOCH_RSI_CROSS_50","X_STOCH_RSI_CROSS_80","X_CCI20_CROSS_MINUS100","X_CCI20_CROSS_100","X_ADX_CROSS_20","X_ADX_CROSS_40","X_WILLIAMS_CROSS_MINUS20","X_WILLIAMS_CROSS_MINUS80","X_ULTIMATE_OSCILLATOR_CROSS_30","X_ULTIMATE_OSCILLATOR_CROSS_70","X_MACD_CROSS_MACD_SIGNAL_LINE","X_LAST_PRICE_CROSS_VWMA20"],"example":"X_LAST_PRICE_CROSS_SMA50"},"crossAnalyticFilterValue":{"type":"string","description":"Filter results by an exact cross analytic direction.","enum":["ABOVE","BELOW"],"example":"ABOVE"},"crossLookBackIntervals":{"type":"string","description":"Number of past intervals to check for a cross. For example, 3 means look for cross events in the last 3 intervals. Default is 5.","enum":["1","2","3","4","5"],"example":1}},"required":["crossLookBackIntervals"]},"NumericFilter":{"type":"object","description":"You can include multiple numeric filter objects in the request body. Multiple filters use **AND** logic","example":[{"numericFilterType":"RSI14","lte":70},{"numericFilterType":"WILLIAMS","gte":30}],"properties":{"numericFilterType":{"type":"string","description":"The numeric market data type used to filter the result.","enum":["LAST_PRICE","PERFORMANCE","DOLLAR_VOLUME","MARKET_CAP","HIGH","LOW","PRICE_CHANGE_1D","PRICE_CHANGE_1W","PRICE_CHANGE_1M","PRICE_CHANGE_3M","PRICE_CHANGE_6M","PRICE_CHANGE_1Y","PRICE_CHANGE_YTD","TOTAL_REVENUE_1W","TOTAL_REVENUE_1M","TOTAL_REVENUE_PERFORMANCE_7D","TOTAL_REVENUE_PERFORMANCE_30D","TOTAL_REVENUE_PERFORMANCE_90D","TOTAL_REVENUE_ANNUALIZED","PROTOCOL_REVENUE_1W","PROTOCOL_REVENUE_1M","PROTOCOL_REVENUE_PERFORMANCE_7D","PROTOCOL_REVENUE_PERFORMANCE_30D","PROTOCOL_REVENUE_PERFORMANCE_90D","PROTOCOL_REVENUE_ANNUALIZED","MARKET_CAP_SALES","MARKET_CAP_SALES_PERFORMANCE_7D","MARKET_CAP_SALES_PERFORMANCE_30D","MARKET_CAP_SALES_PERFORMANCE_90D","MARKET_CAP_PR","MARKET_CAP_PR_PERFORMANCE_7D","MARKET_CAP_PR_PERFORMANCE_30D","MARKET_CAP_PR_PERFORMANCE_90D","TVL","TVL_PERFORMANCE","TVL_PERFORMANCE_7D","TVL_PERFORMANCE_30D","TVL_PERFORMANCE_90D","MARKET_CAP_TVL","MARKET_CAP_TVL_PERFORMANCE_7D","MARKET_CAP_TVL_PERFORMANCE_30D","MARKET_CAP_TVL_PERFORMANCE_90D","ATH","DAYS_SINCE_ATH","VWMA20","VOLUME","OBV_TREND","VOLUME_RELATIVE","SMA5","SMA10","SMA20","SMA30","SMA50","SMA100","SMA200","EMA9","EMA12","EMA13","EMA26","EMA50","EMA100","EMA200","SMA5_TREND","SMA10_TREND","SMA20_TREND","SMA30_TREND","SMA50_TREND","SMA100_TREND","SMA200_TREND","EMA9_TREND","EMA12_TREND","EMA13_TREND","EMA26_TREND","EMA50_TREND","EMA100_TREND","EMA200_TREND","RSI9","RSI14","RSI25","STOCH","STOCH_SLOW","STOCH_RSI","CCI20","ADX","MOM","WILLIAMS","BULL_POWER","BEAR_POWER","ULTIMATE_OSCILLATOR","BOLLINGER_BAND_LOWER","BOLLINGER_BAND_UPPER"],"example":"PRICE_CHANGE_1D"},"gteFilter":{"type":"number","description":"Greater than or equal filter. When provided, only items with a numeric field value ≥ the given value are returned.If the result should be only within the defined range, fill in both fields 'gteFilter' and 'lteFilter'","example":10},"lteFilter":{"type":"number","description":"Less than or equal filter. When provided, only items with a numeric field value ≤ the given value are returned. If the result should be only within the defined range, fill in both fields 'gteFilter' and 'lteFilter'","example":20}}},"ScreenerSearchRequest":{"type":"object","properties":{"symbols":{"type":"array","description":"Chosen symbol names or empty if snapshot for all symbols should be loaded","example":["BTC","ETH"],"items":{"type":"string","description":"Chosen symbol names or empty if snapshot for all symbols should be loaded","example":"[\"BTC\",\"ETH\"]"}},"timeInterval":{"type":"string","default":"DAILY","description":"The time interval for market data calculation. \n \n| Value | Description | \n| :--- | :--- | \n| `MINUTES15` | 15-minute intervals | \n| `HOURLY` | 1-hour intervals | \n| `HOURS4` | 4-hour intervals | \n","enum":["MINUTES15","HOURLY","HOURS4","HOURS12","DAILY"],"example":"DAILY"},"displayType":{"type":"array","default":"[\"SYMBOL\", \"NAME\", \"LAST_PRICE\"]","description":"A list of screener market data types whose values will be returned in the response. If parameter is empty, only symbol, name and last price values will be returned in the response","example":["MARKET_CAP","SMA10","DOLLAR_VOLUME"],"items":{"type":"string","default":"[\"SYMBOL\",\"NAME\",\"LAST_PRICE\"]","description":"A list of screener market data types whose values will be returned in the response. If parameter is empty, only symbol, name and last price values will be returned in the response","enum":["PERFORMANCE","DOLLAR_VOLUME","MARKET_CAP","HIGH","LOW","PRICE_CHANGE_1D","PRICE_CHANGE_1W","PRICE_CHANGE_1M","PRICE_CHANGE_3M","PRICE_CHANGE_6M","PRICE_CHANGE_1Y","PRICE_CHANGE_YTD","TOTAL_REVENUE_1W","TOTAL_REVENUE_1M","TOTAL_REVENUE_PERFORMANCE_7D","TOTAL_REVENUE_PERFORMANCE_30D","TOTAL_REVENUE_PERFORMANCE_90D","TOTAL_REVENUE_ANNUALIZED","PROTOCOL_REVENUE_1W","PROTOCOL_REVENUE_1M","PROTOCOL_REVENUE_PERFORMANCE_7D","PROTOCOL_REVENUE_PERFORMANCE_30D","PROTOCOL_REVENUE_PERFORMANCE_90D","PROTOCOL_REVENUE_ANNUALIZED","MARKET_CAP_SALES","MARKET_CAP_SALES_PERFORMANCE_7D","MARKET_CAP_SALES_PERFORMANCE_30D","MARKET_CAP_SALES_PERFORMANCE_90D","MARKET_CAP_PR","MARKET_CAP_PR_PERFORMANCE_7D","MARKET_CAP_PR_PERFORMANCE_30D","MARKET_CAP_PR_PERFORMANCE_90D","TVL","TVL_PERFORMANCE","TVL_PERFORMANCE_7D","TVL_PERFORMANCE_30D","TVL_PERFORMANCE_90D","MARKET_CAP_TVL","MARKET_CAP_TVL_PERFORMANCE_7D","MARKET_CAP_TVL_PERFORMANCE_30D","MARKET_CAP_TVL_PERFORMANCE_90D","ATH","ATH_PERCENT_DOWN","DAYS_SINCE_ATH","HIGH_52W","LOW_52W","VWMA20","VOLUME","OBV_TREND","VOLUME_RELATIVE","SMA5","SMA10","SMA20","SMA30","SMA50","SMA100","SMA200","EMA9","EMA12","EMA13","EMA26","EMA50","EMA100","EMA200","SMA5_TREND","SMA10_TREND","SMA20_TREND","SMA30_TREND","SMA50_TREND","SMA100_TREND","SMA200_TREND","EMA9_TREND","EMA12_TREND","EMA13_TREND","EMA26_TREND","EMA50_TREND","EMA100_TREND","EMA200_TREND","RSI9","RSI14","RSI25","STOCH","STOCH_SLOW","STOCH_RSI","CCI20","ADX","MOM","MACD","WILLIAMS","BULL_POWER","BEAR_POWER","ULTIMATE_OSCILLATOR","BOLLINGER_BAND_LOWER","BOLLINGER_BAND_UPPER","SHORT_TERM_TREND","MEDIUM_TERM_TREND","LONG_TERM_TREND","TIME","ATH_DATE","IR_RSI9","IR_RSI14","IR_RSI25","IR_STOCH","IR_STOCH_SLOW","IR_WILLIAMS","IR_CCI20","IR_BANDED_OSC","SHORT_TERM_TREND_CHANGE","MEDIUM_TERM_TREND_CHANGE","LONG_TERM_TREND_CHANGE","AGE","PERCENTAGE_DOWN_FROM_52_WEEK_HIGH","PERCENTAGE_ABOVE_FROM_52_WEEK_LOW","ATR","TR_VS_ATR","CIRCULATING_SUPPLY","MACD_SIGNAL_LINE","OBV","IR_NEW_HIGH_CREATED","IR_NEW_LOW_CREATED","SUPPORT","RESISTANCE","RSI_DIVERGENCE"],"example":"[\"MARKET_CAP\",\"SMA10\",\"DOLLAR_VOLUME\"]"}},"numericFilters":{"type":"array","description":"You can include multiple numeric filter objects in the request body. Multiple filters use **AND** logic","example":[{"numericFilterType":"RSI14","lte":70},{"numericFilterType":"WILLIAMS","gte":30}],"items":{"$ref":"#/components/schemas/NumericFilter"}},"signalFilters":{"type":"array","description":"You can include multiple signal filter objects in the request body. Multiple filters use **AND** logic","example":[{"signalFilterType":"SHORT_TERM_TREND","signalFilterValue":"STRONG_UP"},{"signalFilterType":"MEDIUM_TERM_TREND","signalFilterValue":"STRONG_UP"}],"items":{"$ref":"#/components/schemas/SignalFilter"}},"crossAnalyticFilters":{"type":"array","description":"You can include multiple cross analytic filter objects in the request body. Multiple filters use **AND** logic","example":[{"crossAnalyticFilterType":"X_LAST_PRICE_CROSS_SMA5","crossAnalyticFilterValue":"BELOW","crossLookBackIntervals":1}],"items":{"$ref":"#/components/schemas/CrossAnalyticFilter"}},"candlestickPatternFilters":{"type":"array","description":"You can include multiple candlestick pattern filter objects in the request body. Multiple filters use **AND** logic","example":[{"candlestickPatternFilterType":"CD_PERFECT_GRAVESTONE_DOJI","candlestickLookBackIntervals":1}],"items":{"$ref":"#/components/schemas/CandlestickPatternFilter"}},"analyticsComparisonsFilters":{"type":"array","description":"You can include multiple filter objects in the request body to compare two analytics metrics against each other. Multiple filters use **AND** logic","example":[{"analyticsComparisonsFilterType":"EMA200_TREND_VS_SMA10_TREND","analyticsComparisonsFilterValue":"ABOVE"}],"items":{"$ref":"#/components/schemas/AnalyticsComparisonsFilter"}},"coinTypeFilter":{"type":"string","description":"Filter the results by type of coin. Only coins matching the specified type will be returned.","enum":["LEVERAGED","STABLE","REGULAR"],"example":"REGULAR"},"coinCategoryFilter":{"type":"array","description":"Filter by specific market segments. Items must belong to **each** selected category. \n","enum":["AI_BIG_DATA","AI_AGENTS","ANIMAL_MEMES","ARBITRUM_ECOSYSTEM","AVALANCHE_ECOSYSTEM","BASE_ECOSYSTEM","BINANCE_ALPHA","BINANCE_ALPHA_AIRDROPS","BINANCE_ECOSYSTEM","BITCOIN_ECOSYSTEM","BNB_CHAIN_ECOSYSTEM","CAT_THEMED","COLLECTIBLES_AND_NFTS","COMMUNICATIONS_AND_SOCIAL_MEDIA","DAO","DECENTRALIZED_EXCHANGE_DEX_TOKEN","DEFI","DEPIN","DOGGONE_DOGGEREL","DWF_LABS_PORTFOLIO","ETHEREUM_ECOSYSTEM","FANTOM_ECOSYSTEM","GAMING","GOVERNANCE","MARKETPLACE","MEMES","METAVERSE","NFTS_AND_COLLECTIBLES","PLAY_TO_EARN","POLITICAL_MEMES","POLYGON_ECOSYSTEM","PRIVACY","PUMP_FUN_ECOSYSTEM","REAL_WORLD_ASSETS_PROTOCOLS","REHYPOTHECATED_CRYPTO","SMART_CONTRACTS","SOLANA_ECOSYSTEM","STABLECOIN","TOKENIZED_ASSETS","TOKENIZED_STOCK","YIELD_FARMING"],"example":["AI_BIG_DATA","REAL_WORLD_ASSETS_PROTOCOLS"],"items":{"type":"string","description":"Filter by specific market segments. Items must belong to **each** selected category. \n","enum":["AI_BIG_DATA","AI_AGENTS","ANIMAL_MEMES","ARBITRUM_ECOSYSTEM","AVALANCHE_ECOSYSTEM","BASE_ECOSYSTEM","BINANCE_ALPHA","BINANCE_ALPHA_AIRDROPS","BINANCE_ECOSYSTEM","BITCOIN_ECOSYSTEM","BNB_CHAIN_ECOSYSTEM","CAT_THEMED","COLLECTIBLES_AND_NFTS","COMMUNICATIONS_AND_SOCIAL_MEDIA","DAO","DECENTRALIZED_EXCHANGE_DEX_TOKEN","DEFI","DEPIN","DOGGONE_DOGGEREL","DWF_LABS_PORTFOLIO","ETHEREUM_ECOSYSTEM","FANTOM_ECOSYSTEM","GAMING","GOVERNANCE","MARKETPLACE","MEMES","METAVERSE","NFTS_AND_COLLECTIBLES","PLAY_TO_EARN","POLITICAL_MEMES","POLYGON_ECOSYSTEM","PRIVACY","PUMP_FUN_ECOSYSTEM","REAL_WORLD_ASSETS_PROTOCOLS","REHYPOTHECATED_CRYPTO","SMART_CONTRACTS","SOLANA_ECOSYSTEM","STABLECOIN","TOKENIZED_ASSETS","TOKENIZED_STOCK","YIELD_FARMING","AI_BIG_DATA","AI_AGENTS","ANIMAL_MEMES","ARBITRUM_ECOSYSTEM","AVALANCHE_ECOSYSTEM","BASE_ECOSYSTEM","BINANCE_ALPHA","BINANCE_ALPHA_AIRDROPS","BINANCE_ECOSYSTEM","BITCOIN_ECOSYSTEM","BNB_CHAIN_ECOSYSTEM","CAT_THEMED","COLLECTIBLES_AND_NFTS","COMMUNICATIONS_AND_SOCIAL_MEDIA","DAO","DECENTRALIZED_EXCHANGE_DEX_TOKEN","DEFI","DEPIN","DOGGONE_DOGGEREL","DWF_LABS_PORTFOLIO","ETHEREUM_ECOSYSTEM","FANTOM_ECOSYSTEM","GAMING","GOVERNANCE","MARKETPLACE","MEMES","METAVERSE","NFTS_AND_COLLECTIBLES","PLAY_TO_EARN","POLITICAL_MEMES","POLYGON_ECOSYSTEM","PRIVACY","PUMP_FUN_ECOSYSTEM","REAL_WORLD_ASSETS_PROTOCOLS","REHYPOTHECATED_CRYPTO","SMART_CONTRACTS","SOLANA_ECOSYSTEM","STABLECOIN","TOKENIZED_ASSETS","TOKENIZED_STOCK","YIELD_FARMING"],"example":"[\"AI_BIG_DATA\",\"REAL_WORLD_ASSETS_PROTOCOLS\"]"}},"tradingTypeFilter":{"type":"array","description":"Filter the results by trading type. When multiple trading types are specified, all must match for a coin to be included in the response.","example":["FUTURES","SPOT"],"items":{"type":"string","description":"Filter the results by trading type. When multiple trading types are specified, all must match for a coin to be included in the response.","enum":["SPOT","FUTURES","PERPETUAL","FUTURES_OR_PERPETUAL"],"example":"[\"FUTURES\",\"SPOT\"]"}},"exchangeFilter":{"type":"array","description":"A list of exchange identifiers used to filter results. When provided together with `tradingTypeFilter`, only coins that are tradable in **all selected trading types** and are **listed on all specified exchanges** will be returned. If `tradingTypeFilter` is not defined, the default is `SPOT`.","example":["BKEX","BYBIT"],"items":{"type":"string","description":"A list of exchange identifiers used to filter results. When provided together with `tradingTypeFilter`, only coins that are tradable in **all selected trading types** and are **listed on all specified exchanges** will be returned. If `tradingTypeFilter` is not defined, the default is `SPOT`.","enum":["BKEX","BW","BIKI","BIGONE","BINANCE","BIT_Z","BITFOREX","BITMART","BITMAX","BITFINEX","BITGET","BITHUMB","BITRUE","BITSO","BYBIT","COINBASE","COINSBIT","CREX_24","DCOIN","DIGI_FINEX","EXMO","GATEIO","HUOBI","KRAKEN","KUCOIN","LBANK","MEXC","MXC","OKX","PROBIT_EXCHANGE","TOKENOMY","UPBIT","WHITEBIT"],"example":"[\"BKEX\",\"BYBIT\"]"}},"athDateBeforeFilter":{"type":"string","description":"Filters results to include only items whose ATH (All-Time High) date is on or before the specified timestamp. The value must be an ISO-8601 date-time string","example":"2026-01-31T23:59:59Z"},"athDateAfterFilter":{"type":"string","description":"Filters results to include only items whose ATH (All-Time High) date is on or after the specified timestamp. The value must be an ISO-8601 date-time string.","example":"2026-02-01T00:00:00Z"},"percentDownFromAthFilter":{"type":"string","description":"Filters assets based on the distance between the **Last Price** and the **All-Time High (ATH)**.  \n\n| Category | Value | Logic |  \n| :--- | :--- | :--- |  \n| **Within Range** | `PRICE_AT_LEAST_X_PERCENT_BELOW_ATH` | Price is **within** X% of the ATH (Price $>=$ ATH - X%). |  \n| **Farther Than** | `PRICE_AT_LEAST_X_PERCENT_MORE_ATH` | Price is **more than** X% below the ATH (Price $=<$ ATH - X%). |  \n \n#### Available Thresholds:  \n* **Below (Within):** 1%, 5%, 10%, 15%, 20%, 30%  \n* **More (Farther):** 1%, 5%, 10%, 15%, 20%, 30%  \n \n**Example Use Case:**  \n* Use `PRICE_AT_LEAST_5_PERCENT_BELOW_ATH` to find coins currently `testing` or hovering near their record highs.  \n* Use `PRICE_AT_LEAST_30_PERCENT_MORE_ATH` to find coins that have significantly retraced from their peak.  \n","enum":["PRICE_AT_LEAST_1_PERCENT_BELOW_ATH","PRICE_AT_LEAST_5_PERCENT_BELOW_ATH","PRICE_AT_LEAST_10_PERCENT_BELOW_ATH","PRICE_AT_LEAST_15_PERCENT_BELOW_ATH","PRICE_AT_LEAST_20_PERCENT_BELOW_ATH","PRICE_AT_LEAST_30_PERCENT_BELOW_ATH","PRICE_AT_LEAST_1_PERCENT_MORE_ATH","PRICE_AT_LEAST_5_PERCENT_MORE_ATH","PRICE_AT_LEAST_10_PERCENT_MORE_ATH","PRICE_AT_LEAST_15_PERCENT_MORE_ATH","PRICE_AT_LEAST_20_PERCENT_MORE_ATH","PRICE_AT_LEAST_30_PERCENT_MORE_ATH"],"example":"PRICE_AT_LEAST_15_PERCENT_MORE_ATH"},"supportResistanceFilter":{"type":"string","description":"The parameter allows to filter results based on the relationship of price action to predefined support and resistance levels. \n| Value | Description | \n| :--- | :--- | \n| `APPROACHING_SUPPORT` | Price is nearing a support level from above. | \n| `BROKEN_BELOW_SUPPORT` | Price has closed or moved significantly below support. | \n| `APPROACHING_RESISTANCE` | Price is nearing a resistance level from below. | \n| `BROKEN_ABOVE_RESISTANCE` | Price has closed or moved significantly above resistance. | \n \n **Note:** Use this in conjunction with `supportResistanceLookBackIntervals` to define the search window. \n","enum":["APPROACHING_SUPPORT","BROKEN_BELOW_SUPPORT","APPROACHING_RESISTANCE","BROKEN_ABOVE_RESISTANCE"],"example":"APPROACHING_RESISTANCE"},"supportResistanceLookBackIntervals":{"type":"string","description":"Number of past intervals to check for a broken below support and broken above resistance level. For example, 3 means look for levels in the last 3 intervals. Default is 5.","enum":["1","2","3","4","5"],"example":1},"weekAnalytics52Filter":{"type":"string","description":"Filter criteria for 52-week price analytics. When provided, this field restricts results based on comparisons between a security’s last price and its 52-week high/low values.","enum":["HIGH_52W_IN_THE_LAST_2DAYS","LOW_52W_IN_THE_LAST_2DAYS","LAST_PRICE_WITHIN_5PERCENT_OF_HIGH_52W","LAST_PRICE_WITHIN_10PERCENT_OF_HIGH_52W","LAST_PRICE_WITHIN_20PERCENT_OF_HIGH_52W","LAST_PRICE_WITHIN_5PERCENT_OF_LOW_52W","LAST_PRICE_WITHIN_10PERCENT_OF_LOW_52W","LAST_PRICE_WITHIN_20PERCENT_OF_LOW_52W"],"example":"HIGH_52W_IN_THE_LAST_2DAYS"},"rsiDivergenceFilter":{"type":"string","description":"Filter results by the type of RSI (Relative Strength Index) divergence detected in the analytics data. \nRSI divergence occurs when price action and the RSI indicator move in opposing patterns, often signaling shifts in momentum that may indicate trend reversals or continuations.","enum":["BULLISH","BEARISH","HIDDEN_BULLISH","HIDDEN_BEARISH"],"example":"HIDDEN_BEARISH"},"newLowInLastPeriodFilter":{"type":"string","description":"Filter to return results where a new low was recorded within the last N periods.","enum":["PERIODS_5","PERIODS_10","PERIODS_15","PERIODS_20","PERIODS_30","PERIODS_50"],"example":"PERIODS_30"},"newHighInLastPeriodFilter":{"type":"string","description":"Filter to return results where a new high was recorded within the last N periods.","enum":["PERIODS_5","PERIODS_10","PERIODS_15","PERIODS_20","PERIODS_30","PERIODS_50"],"example":"PERIODS_5"},"macdFilter":{"type":"string","description":"Filters assets based on the **MACD Line** relationship with its **Signal Line**. This is a primary indicator for identifying trend momentum shifts. \n \n| Signal | Technical Condition | Market Sentiment | \n| :--- | :--- | :--- | \n| `BUY` | **MACD Line > Signal Line** | **Bullish momentum**: Often occurs during an upward crossover or when price is accelerating north. | \n| `SELL` | **MACD Line < Signal Line** | **Bearish momentum**: Often occurs during a downward crossover or when price is accelerating south. | \n","enum":["BUY","SELL"],"example":"BUY"},"macdHistogramFilter":{"type":"string","description":"Filter results based on the direction of the MACD histogram value.\nThe MACD Histogram measures the distance between the MACD Line and the Signal Line (Histogram = MACD - Signal). This filter identifies the direction and strength of market momentum. \n \n| Value | Direction | Technical State | Momentum Interpretation | \n| :--- | :--- | :--- | :--- | \n| `H1_UP` | **Positive / Rising** | Histogram > 0 and Increasing | **Strong Bullish**: Upward momentum is accelerating. | \n| `H1_DOWN` | **Positive / Falling** | Histogram > 0 and Decreasing | **Weakening Bullish**: Price is still up, but momentum is fading. | \n| `H2_DOWN` | **Negative / Falling** | Histogram < 0 and Decreasing | **Strong Bearish**: Downward momentum is accelerating. | \n| `H2_UP` | **Negative / Rising** | Histogram < 0 and Increasing | **Weakening Bearish**: Price is still down, but selling pressure is fading. | \n \n","enum":["H1_UP","H1_DOWN","H2_UP","H2_DOWN"],"example":"H1_UP"},"minimumMarketCapValue":{"type":"number","description":"Optional minimum market cap value filter","example":10000000}}},"SignalFilter":{"type":"object","description":"You can include multiple signal filter objects in the request body. Multiple filters use **AND** logic","example":[{"signalFilterType":"SHORT_TERM_TREND","signalFilterValue":"STRONG_UP"},{"signalFilterType":"MEDIUM_TERM_TREND","signalFilterValue":"STRONG_UP"}],"properties":{"signalFilterType":{"type":"string","description":"The signal market data type used to filter the result.","enum":["SHORT_TERM_TREND","MEDIUM_TERM_TREND","LONG_TERM_TREND"],"example":"SHORT_TERM_TREND"},"signalFilterValue":{"type":"string","description":"Filter results by an exact signal value.","enum":["STRONG_DOWN","DOWN","NEUTRAL","UP","STRONG_UP","STRONG_DOWN_DOWNGRADE","DOWN_DOWNGRADE","DOWN_UPGRADE","NEUTRAL_DOWNGRADE","NEUTRAL_UPGRADE","UP_DOWNGRADE","UP_UPGRADE","STRONG_UP_UPGRADE"],"example":"NEUTRAL"}}},"PageableResponseScreenerSearchResult":{"type":"object","properties":{"size":{"type":"integer","format":"int32"},"number":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/OrderModel"}},"content":{"type":"array","items":{"$ref":"#/components/schemas/ScreenerSearchResult"}},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}},"required":["content","first","last","number","numberOfElements","size","sort","totalElements","totalPages"]},"ScreenerSearchResult":{"type":"object","properties":{"symbol":{"type":"string"},"name":{"type":"string"},"lastPrice":{"type":"string"},"additionalData":{"type":"object","additionalProperties":{"type":"object"}}},"required":["additionalData","lastPrice","name","symbol"]},"OHLCVSnapshotRequest":{"type":"object","properties":{"symbols":{"type":"array","description":"Chosen symbol names or empty if snapshot for all symbols should be loaded","example":["BTC"],"items":{"type":"string"}},"timeInterval":{"type":"string","default":"DAILY","description":"Time interval of snapshot, defaults to DAILY","example":"DAILY"}},"required":["symbols"]},"PublicOHLCVData":{"type":"object","properties":{"symbol":{"type":"string","example":"ETH"},"time":{"type":"string","format":"date-time","description":"Timestamp in ISO date time format"},"open":{"type":"string","example":1.1667742378098591},"high":{"type":"string","example":1.1667742378098591},"low":{"type":"string","example":1.1667742378098591},"close":{"type":"string","example":1.1667742378098591},"volume":{"type":"string","example":1.1667742378098591}},"required":["close","high","low","open","symbol","time","volume"]},"OHLCVHistoryRequest":{"type":"object","properties":{"symbol":{"type":"string","description":"Symbol name","example":"BTC"},"timeInterval":{"type":"string","default":"DAILY","description":"Time interval, defaults to DAILY","example":"DAILY"},"from":{"type":"string","format":"date-time","description":"Lower bound for time in ISO-8601 instant format. Results will have time >= from"},"to":{"type":"string","format":"date-time","description":"Upper bound for time in ISO-8601 instant format. Results will have time <= to"}},"required":["symbol","timeInterval"]},"PageableResponsePublicOHLCVData":{"type":"object","properties":{"size":{"type":"integer","format":"int32"},"number":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/OrderModel"}},"content":{"type":"array","items":{"$ref":"#/components/schemas/PublicOHLCVData"}},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}},"required":["content","first","last","number","numberOfElements","size","sort","totalElements","totalPages"]},"ApiNewsSummaryFilterRequest":{"type":"object","properties":{"fromDate":{"type":"string","format":"date-time","description":"Datetime ISO 8601","example":"2025-11-17T11:00:00Z"},"toDate":{"type":"string","format":"date-time","description":"Datetime ISO 8601","example":"2025-11-17T11:00:00Z"}}},"ApiNewsSummary":{"type":"object","properties":{"messageId":{"type":"integer","format":"int64"},"sourceId":{"type":"integer","format":"int32"},"content":{"type":"string"},"title":{"type":"string"},"url":{"type":"string"},"sourceName":{"type":"string"},"timestamp":{"type":"string","format":"date-time"}}},"PageableResponseApiNewsSummary":{"type":"object","properties":{"size":{"type":"integer","format":"int32"},"number":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/OrderModel"}},"content":{"type":"array","items":{"$ref":"#/components/schemas/ApiNewsSummary"}},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}},"required":["content","first","last","number","numberOfElements","size","sort","totalElements","totalPages"]},"AltfinsAnalyticsHistorySearchRequest":{"type":"object","properties":{"symbol":{"type":"string","description":"Symbol name.","example":"BTC"},"timeInterval":{"type":"string","default":"DAILY","description":"Time interval of analytics, defaults to DAILY","enum":["MINUTES15","HOURLY","HOURS4","HOURS12","DAILY"],"example":"DAILY"},"analyticsType":{"type":"string","description":"Analytics type id","enum":["PERFORMANCE","DOLLAR_PRICE","MARKET_CAP","CMC_RANK","CIRCULATING_SUPPLY","HIGH","LOW","PRICE_CHANGE_1D","PRICE_CHANGE_1W","PRICE_CHANGE_1M","PRICE_CHANGE_3M","PRICE_CHANGE_6M","PRICE_CHANGE_1Y","PRICE_CHANGE_YTD","TOTAL_REVENUE","TOTAL_REVENUE_1W","TOTAL_REVENUE_1M","TOTAL_REVENUE_ANNUALIZED","TOTAL_REVENUE_PERFORMANCE","TOTAL_REVENUE_PERFORMANCE_7D","TOTAL_REVENUE_PERFORMANCE_30D","TOTAL_REVENUE_PERFORMANCE_90D","TOTAL_REVENUE_PERFORMANCE_180D","TOTAL_REVENUE_PERFORMANCE_365D","PROTOCOL_REVENUE","PROTOCOL_REVENUE_1W","PROTOCOL_REVENUE_1M","PROTOCOL_REVENUE_ANNUALIZED","PROTOCOL_REVENUE_PERFORMANCE","PROTOCOL_REVENUE_PERFORMANCE_7D","PROTOCOL_REVENUE_PERFORMANCE_30D","PROTOCOL_REVENUE_PERFORMANCE_90D","PROTOCOL_REVENUE_PERFORMANCE_180D","PROTOCOL_REVENUE_PERFORMANCE_365D","MARKET_CAP_SALES","MARKET_CAP_FULLY_DILUTED","MARKET_CAP_SALES_PERFORMANCE","MARKET_CAP_SALES_PERFORMANCE_7D","MARKET_CAP_SALES_PERFORMANCE_30D","MARKET_CAP_SALES_PERFORMANCE_90D","MARKET_CAP_SALES_PERFORMANCE_180D","MARKET_CAP_SALES_PERFORMANCE_365D","MARKET_CAP_PR","MARKET_CAP_PR_PERFORMANCE","MARKET_CAP_PR_PERFORMANCE_7D","MARKET_CAP_PR_PERFORMANCE_30D","MARKET_CAP_PR_PERFORMANCE_90D","MARKET_CAP_PR_PERFORMANCE_180D","MARKET_CAP_PR_PERFORMANCE_365D","TVL","TVL_PERFORMANCE","TVL_PERFORMANCE_7D","TVL_PERFORMANCE_30D","TVL_PERFORMANCE_90D","TVL_PERFORMANCE_180D","TVL_PERFORMANCE_365D","MARKET_CAP_TVL","MARKET_CAP_TVL_PERFORMANCE_7D","MARKET_CAP_TVL_PERFORMANCE_30D","MARKET_CAP_TVL_PERFORMANCE_90D","ATH","ATR","TR_VS_ATR","HIGH_52W","LOW_52W","VWMA20","VOLUME","VOLUME_AVG","VOLUME_CHANGE","VOLUME_RELATIVE","OBV","OBV_TREND","SMA5","SMA10","SMA20","SMA30","SMA50","SMA100","SMA200","EMA9","EMA12","EMA13","EMA26","EMA50","EMA100","EMA200","SMA5_TREND","SMA10_TREND","SMA20_TREND","SMA30_TREND","SMA50_TREND","SMA100_TREND","SMA200_TREND","EMA9_TREND","EMA12_TREND","EMA13_TREND","EMA26_TREND","EMA50_TREND","EMA100_TREND","EMA200_TREND","RSI9","RSI14","RSI25","STOCH","STOCH_SLOW","STOCH_RSI","STOCH_RSI_K","STOCH_RSI_D","CCI20","ADX","MOM","MACD","MACD_SIGNAL_LINE","MACD_HISTOGRAM","WILLIAMS","BULL_POWER","BEAR_POWER","ULTIMATE_OSCILLATOR","BOLLINGER_BAND_LOWER","BOLLINGER_BAND_UPPER","SHORT_TERM_TREND","MEDIUM_TERM_TREND","LONG_TERM_TREND","SHORT_TERM_TREND_CHANGE","MEDIUM_TERM_TREND_CHANGE","LONG_TERM_TREND_CHANGE","IR_RSI9","IR_RSI14","IR_RSI25","IR_STOCH","IR_STOCH_SLOW","IR_WILLIAMS","IR_CCI20","IR_BANDED_OSC","IR_NEW_HIGH_CREATED","IR_NEW_HIGH_CREATED_5","IR_NEW_HIGH_CREATED_10","IR_NEW_HIGH_CREATED_15","IR_NEW_HIGH_CREATED_20","IR_NEW_HIGH_CREATED_50","IR_NEW_LOW_CREATED","IR_NEW_LOW_CREATED_5","IR_NEW_LOW_CREATED_10","IR_NEW_LOW_CREATED_15","IR_NEW_LOW_CREATED_20","IR_NEW_LOW_CREATED_50"],"example":"SMA10"},"from":{"type":"string","description":"Lower bound for time in ISO-8601 instant format. Results will have time >= from","example":"2026-01-01T00:00:00.000Z"},"to":{"type":"string","description":"Upper bound for time in ISO-8601 instant format. Results will have time <= to","example":"2026-01-08T00:00:00.000Z"}},"required":["analyticsType","symbol"]},"AnalyticsHistoryData":{"type":"object","properties":{"symbol":{"type":"string","description":"Symbol name.","example":"BTC"},"time":{"type":"string","format":"date-time","description":"Timestamp in ISO date time format"},"value":{"type":"string","example":1.1667742378098591},"nonNumericalValue":{"type":"string","description":"Non numerical analytics value, one of NUMERICAL, BUY, STRONG_BUY, SELL, STRONG_SELL, NEUTRAL, BEARISH, HIDDEN_BEARISH, BULLISH, HIDDEN_BULLISH, OVERBOUGHT, OVERSOLD, PEAK, TROUGH, UP, DOWN, STRONG, VERY_STRONG, WEAK, VERY_WEAK, TRUE, FALSE, BEARISH_AND_HIDDEN_BULLISH, BULLISH_AND_HIDDEN_BEARISH, VERY_OVERSOLD, VERY_OVERBOUGHT, ABOVE, BELOW","example":"OVERSOLD"}},"required":["symbol","time"]},"PageableResponseAnalyticsHistoryData":{"type":"object","properties":{"size":{"type":"integer","format":"int32"},"number":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/OrderModel"}},"content":{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsHistoryData"}},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}},"required":["content","first","last","number","numberOfElements","size","sort","totalElements","totalPages"]},"PageableResponseTechnicalAnalysisSummary":{"type":"object","properties":{"size":{"type":"integer","format":"int32"},"number":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/OrderModel"}},"content":{"type":"array","items":{"$ref":"#/components/schemas/TechnicalAnalysisSummary"}},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}},"required":["content","first","last","number","numberOfElements","size","sort","totalElements","totalPages"]},"TechnicalAnalysisSummary":{"type":"object","properties":{"symbol":{"type":"string"},"friendlyName":{"type":"string"},"updatedDate":{"type":"string","format":"date-time"},"nearTermOutlook":{"type":"string"},"patternType":{"type":"string"},"patternStage":{"type":"string"},"description":{"type":"string"},"imgChartUrl":{"type":"string"},"imgChartUrlDark":{"type":"string"},"logoUrl":{"type":"string"}}},"AssetInfo":{"type":"object","properties":{"name":{"type":"string","example":"ETH"},"friendlyName":{"type":"string","example":"Ethereum"}},"required":["friendlyName","name"]},"SignalLabelDTO":{"type":"object","properties":{"nameBullish":{"type":"string"},"nameBearish":{"type":"string"},"trendSensitive":{"type":"boolean"},"signalType":{"type":"string"},"signalKey":{"type":"string"}}},"ValueTypeDto":{"type":"object","properties":{"id":{"type":"string","description":"Value type id","example":"PERFORMANCE"},"friendlyName":{"type":"string","description":"Friendly name","example":"Price change"}},"required":["friendlyName","id"]},"AnalyticsTypeDto":{"type":"object","properties":{"id":{"type":"string","description":"Type id","example":"PERFORMANCE"},"friendlyName":{"type":"string","description":"Friendly name","example":"Price Change"},"isNumerical":{"type":"boolean","description":"If true then the analytic has non numerical values"}},"required":["friendlyName","id","isNumerical"]},"PermitsInfo":{"type":"object","properties":{"availablePermits":{"type":"integer","format":"int64"},"monthlyAvailablePermits":{"type":"integer","format":"int64"}},"required":["availablePermits","monthlyAvailablePermits"]},"JwtTokens":{"properties":{"accessToken":{"description":"Short lived jwt token to access other API endpoints","example":"eyJhbGciOiJIUzUxMiJ9.eyJqdGkiOiJjMDY0NTUzMC1hODkxLTQzMWYtOGNlOS04ZDFhNjBhNWU3ZDkiLCJzdWIiOiIxIiwiaXNzIjoiTklTIiwiaWF0IjoxNjg1NTUzMTE2LCJleHAiOjE2ODU1NTM0MTYsImF1dGhUeXBlIjoiRU0iLCJ1c2VybmFtZSI6ImFkbWluIiwiZmlyc3ROYW1lIjoiU3lzIiwibGFzdE5hbWUiOiJBZG1pbiIsImVtYWlsIjoiYWRtaW5AbmlzZGV2LmNvbSJ9.N4Sw27UYCbXs9I_BYEypUCCBowhCwIWTCRkV6V1cME-p5VbTgv-aoPudVAm944XHGikhxdRgpJgYUl7NPDK83A"},"refreshToken":{"description":"Long lived jwt token used to get a new pair of tokens when access token expires, can be used only once","example":"eyJhbGciOiJIUzUxMiJ9.eyJqdGkiOiJlYTA0ZDA0NS1lN2U1LTRhNWEtYjg0MS00YWI3YjJkODE1NmIiLCJzdWIiOiIxIiwiaXNzIjoiTklTIiwiaWF0IjoxNjg1NTUzMTE2LCJleHAiOjE2ODgxNDUxMTYsImF1dGhUeXBlIjoiRU0iLCJ1c2VybmFtZSI6ImFkbWluIiwiZmlyc3ROYW1lIjoiU3lzIiwibGFzdE5hbWUiOiJBZG1pbiIsImVtYWlsIjoiYWRtaW5AbmlzZGV2LmNvbSIsInJlZnJlc2hJZCI6ImVhMDRkMDQ1LWU3ZTUtNGE1YS1iODQxLTRhYjdiMmQ4MTU2YiJ9.RGvwRWgFycL_enxrrHSl15r5D8epTrHKJkQ4yVEV4UlfQ_BKt6bLFvtPXY8VsUZQZq-oA5xNSQABu4OQygZ0uw"}},"required":["accessToken"]}},"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","name":"X-API-KEY","in":"header"}}}}